<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
  </head>
  <body>
    <div class="container">
      <section class="left-container"></section>
      <section class="main-container text-center">
        <div class="login-block">
          <div class="login-header">Sign in</div>

          <div class="login-input text-left">
            <label class="login-label">Username</label>
            <br/>
            <input id="email-input" type="text"/>
          </div>

          <div class="login-input text-left">
            <label class="login-label">Password</label>
            <br/>
            <input id="pwd-input" type="password"/>
          </div>

          <div class="login-input text-left">
            <input type="checkbox" id="remember-checkbox"/>
            Remember me
          </div>

          <div class="login-input">
            <button id="login-btn">Login</button>
          </div>

          <div class="default-login-user">
            Do not have an account? <a href="/regist"> Register </a>
          </div>
        </div>
      </section>
      <section class="right-container"></section>
    </div>
  </body>
  <script src="scripts/http.js"></script>
  <script src="scripts/login.js"></script>
</html>
