<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    This is register page
    <form method="POST">
      <fieldset>
        <legend>Last name</legend>
        <input type="text" name="last_name" required>
      </fieldset>
      <fieldset>
        <legend>First name</legend>
        <input type="text" name="first_name" required>
      </fieldset>
      <fieldset>
        <legend>User name</legend>
        <input type="text" name="username" required>
      </fieldset>
      <fieldset>
        <legend>Password</legend>
        <input type="password" name="password" placeholder="password" required> </br>
        <input type="password" name="password_confirm" placeholder="password confirm" required>
      </fieldset>
      <input type="submit" value="Submit">
      Have a registed account? <a href="/login">Sign In</>
    </form>
</body>
</html>
