<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Upload</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/upload.css" />
    </head>
    <body>

        <div class="login-block">
            <div class="file-header">Upload</div>

            <div class="file-input">
                Files:<br/>
                <input id="file-input" type="file" name="file"/>
            </div>

            <div>
                <button id="upload-btn">Upload</button>
            </div>

            <div class="default-login-user">
            </div>
        </div>

    </body>
    <script src="scripts/http.js"></script>
    <script src="scripts/upload.js"></script>
</html>