<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/upload.css" />
  </head>
  <body>
    <div class="container">
      <section class="left-container"></section>
      <section class="main-container text-center">
        <header class="header" style="justify-content: flex-end;">
          <button class="logout-btn">Sign out</button>
        </header>
        <div class="upload-block">
          <div id="alert"></div>
          <div class="upload-header">Upload Files</div>

          <div class="upload-drag-and-drop">
            <div>
              <img src="/images/upload.png">
            </div>
            <div>
              <span>Drag and drop files here or</span>
              <a class="browser">browse</a>
            </div>
          </div>

          <div class="default-upload-warning">
            <span class="text-left">Upload only two files in APK and JSON formats, max 110MB </span>
            <span class="text-right">
              <button class="checkbox" type="checkbox" id="remember-checkbox"></button>
              Force update</span>
          </div>

          <div class="upload-file-list"></div>
          <input type="file" class="hidden" id="file-input" multiple />

          <div class="upload-input">
            <button id="upload-btn" disabled>Upload</button>
          </div>

        </div>
      </section>
      <section class="right-container">
      </section>
    </div>
  </body>
  <script src="scripts/http.js"></script>
  <script src="scripts/upload.js"></script>
</html>
