body {
  font: 14px "Noto Sans SC", sans-serif;
}

body .container {
  display: flex;
}

.left-container {
  flex-grow: 8;
}

.main-container {
  margin-top: 60pt;
}

.right-container {
  flex-grow: 8;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.input-group {
  display: inline-flex;
  justify-content: stretch;
}

.input-group div {
  flex: 1;
  padding-right: 1em;
  padding-left: 1em;
}

.input-group div:first-child {
  padding-left: 0em;
}

.input-group div:last-child {
  padding-right: 0em;
}

.error-message {
  color: #DC031F;
}

.error-input {
  border: 1px solid #C32026;
}

body .register-block {
  display: flex;
  vertical-align: top;
  flex-direction: column;
}

body .register-block .register-header {
  margin-bottom: 2.2em;
  color: #C32026;
  font-size: 16pt;
}

body .register-block .register-input {
  margin-bottom: 1.5em;
  color: #7A7A7A;
}

body .register-block .register-input .register-label {
  text-align: left;
  padding-bottom: 0.5em;
  display: inline-block;
}

body .register-block .register-input input[type="text"] {
  width: 100%;
  height: 30pt;
  box-sizing: border-box;
  border: 1px solid #E6E8ED;
  border-radius: 4px;
  font-size: 12pt;
  background-color: #FFFFFF;
  padding-left: 5pt;
}

body .register-block .register-input input[type="text"]:focus {
  border: 1px solid #359BE0;
}


body .register-block .register-input input[type="password"] {
  width: 100%;
  height: 30pt;
  box-sizing: border-box;
  border: 1px solid #E6E8ED;
  border-radius: 4px;
  font-size: 12pt;
  background-color: #FFFFFF;
}

body .register-block .register-input input[type="password"]:focus {
  border: 1px solid #359BE0;
}

body .register-block .register-input input::placeholder {
  color: #B7B7B8;
  padding-left: 2pt;
}


body .register-block .register-input input[type="checkbox"] {
  margin: 0;
  font-size: 2em;
}

body .register-block .register-input input[type="checkbox"]:checked, body .register-block .register-input input[type="checkbox"]:checked+span {
  background: linear-gradient(180deg, #E3434E 0%, #C32026 100%);
}

body .register-block .register-input button {
  width: 100%;
  height: 20pt;
  cursor: pointer;
}


body .register-block .default-register-user {
  margin-top: 1em;
  color: #666666;
}

#register-btn {
  width: 100%;
  background-color: #C32026;
  height: 3.3em;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  border-radius: 4px;
}

#register-btn:disabled {
  background-color: #B7B7B8;
}

